*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.header {
    padding: 15px 0;
}

.navigation {
    list-style: none;
    padding: 0;

}


.navigation-link {
    color: #939699;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.button {
    padding: 10px 20px;
    background: #4592FF;
    border-radius: 20px;
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.button-icon,.button-prise {
    margin-right: 10px;
}


.lable {
    background: #3DC47E;
    border-radius: 3px;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 15px;
    color: white;
    margin-top: 95px;
}
.slide-title {
    font-family: Roboto Slab,
    serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.slide-description {
    color: #4B5157;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    max-width: 335px;
    margin-bottom: 40px;
}
.slide {
    padding-top: 90px;
    padding-bottom: 110px;
    min-height: 568px;
}
.slide-1 {
    background: #B4D1E0 url("../img/Image-1.png") no-repeat top right 5% ;
}
.slide-2 {
    background: #B9E0B4 url("../img/Image-1.png") no-repeat top right 5% ;
}

.slider {
    position: relative;
}
.slider-nav {
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    position: absolute;
    z-index: 9;
}
.container {
    width: 100%;
}
.slide-button {
    background: transparent;
    border: none;
}
.card-title {
    font-family: Roboto Slab,
    serif;
    max-width: 221px;
    Font-size: 25px;
    Line-height: 30px;
}
.card-title-1{
    font-family: Roboto Slab,
    serif;
    max-width: 221px;
    Font-size: 25px;
    Line-height: 30px;
    color: white;
}
.button-left{
    margin-left: 10px;
}
.card-text {
    max-width: 176px;
    Font-size: 14px;
    Line-height: 20px;
    color: #4B5157;
    margin-bottom: 25px;
    margin-top: 15px;
}
.card-text-1 {
    max-width: 176px;
    Font-size: 14px;
    Line-height: 20px;
    margin-bottom: 25px;
    margin-top: 15px;
    color: white;
}
.card {
    min-height: 370px;
}
.card-1 {
    background: #e3e2e3 url("../img/bag.png") no-repeat top right;
    background-size: cover;
    border-radius: 10px;
    padding-top: 60px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 80px;
}

.card-2 {
    background: #e3e2e3 url("../img/kros.png") no-repeat top right;
    background-size: cover;
    border-radius: 10px;
   padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 45px;

}
.card-title-2 {
    Font-size: 40px;
    Line-height: 50px;
    font-family: Roboto Slab,
    serif;
    max-width: 418px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-3 {
    background: #ccd5e6 url("../img/women.png") no-repeat top right 10%;
    background-size: contain;
    border-radius: 10px;
    padding-top: 35px;
    padding-left: 48px;


}
.card-text-2 {
    Font-size: 14px;
    Line-height: 20px;
    color: #4B5157;
    padding-bottom: 25px;

}
.card-4 {
    background: #ff4f52  url("../img/w.png") no-repeat top right ;
    background-size: contain;
    border-radius: 10px;
    padding-top: 35px;
    padding-left: 25px;

}
.prises {
    color: white;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}

.section-title {
    font-family: Roboto Slab,
    serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
}
.more {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #262D33;
    font-weight: 900;
    padding: 10px;
}
.lable {
    padding: 5px 12px;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    line-height: 15px;

}

.goods-title {
    font-family: Roboto Slab,
    serif;
    font-size: 16px;
    line-height: 25px;
    color: #262D33;
    margin-top: 15px;
    margin-bottom: 5px;
}
.goods-description {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-top: 5px;
    margin-bottom: 20px;
}
.goods-prise {
    color: #262D33;
    font-size: 18px;
    line-height: 30px;
}

.goods-card .lable {
    position: absolute;
    left: 18px;
    margin: 0;
}


.goods-card {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

.footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer {
    background: #8F79D4;
    padding-bottom: 40px;
    padding-top: 45px;
    color: white;
}
.footer-menu-item:not(:last-child){
margin-right: 40px;
}
.footer-menu-link {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 14px;
    line-height: 40px;
}
.footer-text {
    color: #E7D9FF;
    font-size: 14px;
    line-height: 20px;
}
.social-link{
    text-decoration: none;
    margin-right: 15px;
}

.hr {
    color: white;
    opacity: 0.5;
}
.footer-pic {
    margin-right: 20px;
}
.top-link {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}
.top-text-link {
    margin-right: 15px;
}


@media (max-width: 1200px) {
    .slide-1 {
        background-size: cover;
    }
    .card-3 {
        background-size: cover;
    }
    .card-3 {
        margin-bottom: 25px;
    }

}

@media (max-width: 992px) {
.slider-nav{
    display: none;
}
}

@media (max-width: 576px) {
    .slide-title {
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 0;
    }
    .card {
        background-position:left top;
    }
    .card {
        padding: 30px;
        max-width: 300px;
    }

    .card-4 {
        background-position: right top;
        margin-top: 10px;
    }
}






